/* 
- Mobile: 375px
- Desktop: 1440px 
*/
/* Colors */
:root {
  /* Primary */
  /* Text */
  /* (sub-heading at the top of the app UI) */
  --pale-violet: hsl(276, 100%, 81%);
  /* (chat on the left) */
  --moderate-violet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --grayish-blue: hsl(206, 6%, 79%);
  /* (main heading) */
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  /* (paragraph) */
  --dark-grayish-violet: hsl(270, 7%, 64%);  
  /* Gradients */
  /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  /* Secondary */
  --white: hsl(0, 0%, 100%);
  /* (app background) */
  --light-grayish-violet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --very-light-magenta: hsl(289, 100%, 72%);
}

/* Font Weights: 400, 500, 700 */

* {
  position: relative;
}

body {
  font-family: 'Rubik', sans-serif, monospace;
  font-size: 16px;
  background-color: var(--light-grayish-violet);
  z-index: 5;
}

.aPurpleThingToTheSide {
  position: fixed;
  top: -10%;
  left: -50%;
  z-index: 10; 
  height: 90vh;
  width: 100%;
  border-radius: 0 0 60% 60%;
  background: linear-gradient(var(--light-magenta), var(--light-violet));
}

.phoneCard {
  border: 1px solid white;
  width: 70%;
  margin:auto;
  margin-top: 4rem;
  border-radius: 35px;
  background-color: white;
  z-index: 15;
}

.earBlank {
  width: 40%;
  height: 30px;
  border-radius: 0 0 18px 18px;
  margin: auto;
  background-color: white;
  z-index: 20;
}

.outlineCard {
  border-radius: 25px;
  margin: .7rem;
  margin-top: -20px;
  background-color: var(--light-grayish-violet);
}

.infoHeader {
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  background: linear-gradient(to left, var(--light-magenta), var(--light-violet));
  color: var(--white);
}

.infoHeader .fa-chevron-left {
  padding-left: 1rem;
  padding-right: 1rem;
}

.callerPhoto {
  border-radius: 50%;
  border: 2px solid var(--white);
  margin-right: 1rem;
}

.nameStatus p {
  padding-top: .4rem;
  font-size: 12px;
  margin-right: 6rem;
}

.bookingSection {
  z-index: 30;
  text-align: center;
}

.attribution {
  z-index: 40;
  text-align: center;
  color: black;
}

.attribution a {
  text-decoration: none;
  color: black;
}