/* Colors */
:root {
  /* Primary */
  /* Text */
  /* (sub-heading at the top of the app UI) */
  /* --pale-violet: hsl(276, 100%, 81%); */
  --pale-violet: rgb(216, 158, 255, 0.2);
  /* (chat on the left) */
  --moderate-violet: hsl(276, 55%, 52%);
  /* (chat on the right) */
  --desaturated-dark-violet: hsl(271, 15%, 43%);
  /* (placeholder text) */
  --grayish-blue: hsl(206, 6%, 79%);
  /* (main heading) */
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  /* (paragraph) */
  --dark-grayish-violet: hsl(270, 7%, 64%);  
  /* Gradients */
  /* These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient: */
  --light-magenta: hsl(293, 100%, 63%);
  --light-violet: hsl(264, 100%, 61%);
  /* Secondary */
  --white: hsl(0, 0%, 100%);
  /* (app background) */
  --light-grayish-violet: hsl(270, 20%, 96%);
  /* (submit button background) */
  --very-dark-desaturated-violet: hsl(271, 36%, 24%);
  /* (radio button outline) */
  --very-light-magenta: hsl(289, 100%, 72%);
}

/* Font Weights: 400, 500, 700 */

* {
  position: relative;
}

body {
  font-family: 'Rubik', sans-serif, monospace;
  font-size: 16px;
  background-color: var(--light-grayish-violet);
  z-index: 5;
}

main {
  padding-top: 4rem;
}

.aPurpleThingToTheSide {
  position: absolute;
  top: -1px;
  right: 50%;
  z-index: 10; 
  height: 90vh;
  width: 500px;
  border-radius: 0 0 60% 60%;
  background: linear-gradient(var(--light-magenta), var(--light-violet));
}

/* .aPurpleThingToTheSide {
  position: absolute;
  top: 10;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 500px;
  border-radius: 0 0 300px 300px;
  background: linear-gradient(var(--light-magenta), var(--light-violet));
} */










.phoneCard {
  border: 1px solid white;
  width: 350px;
  margin: 0 auto 5rem;
  border-radius: 35px;
  background-color: var(--white);
  z-index: 15;
  box-shadow: 1px 8px 15px 4px rgba(61, 61, 61, 0.2);
}

.earBlank {
  width: 40%;
  height: 30px;
  border-radius: 0 0 18px 18px;
  margin: auto;
  background-color: white;
  z-index: 20;
}

.outlineCard {
  border-radius: 25px;
  margin: .7rem;
  margin-top: -20px;
  background-color: var(--light-grayish-violet);
}







.infoHeader {
  border-radius: 25px 25px 6px 6px;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
  background: linear-gradient(to left, var(--light-magenta), var(--light-violet));
  color: var(--white);
  margin-bottom: 1rem;
}

.infoHeader .fa-chevron-left {
  padding-left: 1.5rem;
  padding-right: .5rem;
}

.infoHeader .fa-chevron-left:hover {
  cursor: pointer;
}

.callerPhoto {
  border-radius: 50%;
  border: 2px solid var(--white);
  margin-right: 1rem;
}

.nameStatus { 
  margin-right: 6rem;
}

.nameStatus p {
  padding-top: .4rem;
  font-size: 12px;
}

.fa-ellipsis-vertical:hover {
  cursor: pointer;
}















.leftChat {
  width: 55%;
  border-radius: 18px 18px 18px 6px;
  padding: .5rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
  color: var(--moderate-violet);
  background-color: var(--pale-violet);
}

.rightChat {
  background-color: var(--white);
  border-radius: 18px 18px 6px 18px;
  width: 55%;
  position: relative;
  float: right;
  padding: .5rem;
  margin-right: .5rem;
  margin-bottom: .5rem;
  box-shadow: 1px 3px 10px 1px rgba(61, 61, 61, 0.2);
}

.rightChatBottom {
  margin-bottom: 1.5rem;
  /* 41 works but I want it to be 42 so bad */
  width: 41%;
}












.clearfix {
  overflow: auto;
}



.dogs {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: end;
}

.dog {
  margin-right: .5rem;
  border-radius: 10px;
}








.leftChatOffer {
  display: flex;
  width: 70%;
  border-radius: 18px 18px 18px 6px;
  padding: .8rem;
  margin-bottom: .5rem;
  background: linear-gradient(to right, var(--light-magenta), var(--light-violet));
  color: var(--white);
  margin-left: .5rem;
}

.leftChatOffer i {
  color: var(--very-light-magenta);
  margin-right: 1rem;
}









.walkOffer0 {
  margin-right: 2rem;
}

.walkOffer1 {
  margin-right: 4rem;
}







.messageChatBar input {
  border-radius: 25px;
  border: none;
  width: 84%;
  padding: .7rem;
  margin: 1rem;
}

.messageChatBar input:focus {
  border: none;
}

.messageChatBar i {
  position: absolute;
  top: 22.5px;
  left: 280px;
  background-color: var(--very-dark-desaturated-violet);
  border-radius: 50%;
  color: var(--white);
  padding: .3rem .5rem;
}

.messageChatBar i:hover {
  cursor: pointer;
}

















.bookingSection {
  z-index: 30;
  text-align: center;
}

.bookingSection h1 {
  font-size: 50px;
  font-weight: 500;
  padding-bottom: 2rem;
}

.bookingSection p {
  width: 80%;
  margin: auto;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.attribution {
  z-index: 40;
  text-align: center;
  color: black;
}

.attribution a {
  text-decoration: none;
  color: black;
}

/* Media Query */
/* Desktop: 1440px */
@media (min-width: 1440px) {

  * {
    border: 1px solid red!important;
  }

  .aPurpleThingToTheSide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10; 
    width: 500px;
    border-radius: 0 0 300px 300px;
  }

  .divider {
    display: flex;
  }

  .bookingSection {
    width: 40%;

  }

  .phoneCard {
    margin: 0 0 0 10rem;
  }

}